body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

#base{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

button{
    margin-top: 10px;
    background-color: #704d0c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

h1{
    color: #be8210;
}
h2{
    color: #a06409;
}

#ingredient-list{
    text-align: left;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

label{
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    width: 200px;
    text-align: center;
}

#results{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.recipe{
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 200px;
    text-align: center;
}